body{
	background-image: url(/home/luka/triangle-tracker/images/triangle5.gif);
	margin: purple;
}
h1{
	color:white;
	text align:center;
	font-size: 30px;
	font-family: monospace;
}
p{
	color: lawngreen;
	font-size: 30px;
	font-family: sans-serif;

}
.button {
  background-color: lawngreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	border-radius: 12px;
	font-family: monospace;
}
.para{
	border: 30px lawngreen;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
.side1{
    padding: 20px;
    color: lawngreen;
    font-weight: bold;
}
.side2{
    padding: 20px;
    color: lawngreen;
    font-weight: bold;
}
.side3{
    padding: 20px;
    color: lawngreen;
    font-weight: bold;
}
@media only screen and (min-width: 600px){
	body{
		background-image: url(/home/luka/triangle-tracker/images/triangle5.gif);
		font-size: 50px;
	}
}
