body{
	background-image: url(/home/luka/triangle-tracker/images/triangle.gif);
}
h1{
	color:#9966ff;
	text align:center;
}
p{
	color: red;
	font-size: 30px;
	font-family: sans-serif;

}
.button {
  background-color: lawngreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	border-radius: 12px;
}
.para{
	border: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}
