body{
	background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fb4%2F3f%2F5c%2Fb43f5cbdebdbba84d722b9b885c1ee86.gif&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F367676757062819141%2F&docid=Ith-ZJvbnKpazM&tbnid=aIBvxc0MHM7XhM%3A&vet=10ahUKEwjXg8iXrZzhAhViTBUIHWwKB6EQMwh1KBAwEA..i&w=500&h=500&bih=624&biw=1366&q=triangle%20gifs&ved=0ahUKEwjXg8iXrZzhAhViTBUIHWwKB6EQMwh1KBAwEA&iact=mrc&uact=8);
	margin: lawngreen;
}
h1{
	color:black;
	text align:center;
	font-size: 30px;
	font-family: monospace;
}
p{
	color: lawngreen;
	font-size: 30px;
	font-family: sans-serif;

}
.button {
  background-color: lawngreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	border-radius: 12px;
	font-family: monospace;
}
.para{
	border: 10px lawngreen;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 70px;
	text-align: center;
}
.side1{
    padding: 20px;
    color: lawngreen;
    font-weight: bold;
}
.side2{
    padding: 20px ;
    color: lawngreen;
    font-weight: bold;
}
.side3{
    padding: 20px;
    color: lawngreen;
    font-weight: bold;
}
@media only screen and (min-width: 600px){
	body{
		background-image: url(/home/luka/triangle-tracker/images/triangle5.gif);
		font-size: 20px;
		color: white;
	}
}
